.text {
    color: white;
    font-weight: lighter;
}
.middle {
    text-align: center;
    align-items: center;
}

.hdfc {
    background-color: rgb(0, 76, 143);
}

.forgot{
    color: rgb(0, 76, 143);
}